@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  /* breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;

  /* h1 variables */
  --h1-font-size-min: 1.3;
  --h1-font-size-max: 2;

  /* text variables */
  --text-font-size-min: 1;
  --text-font-size-max: 1.2;
  --text-line-height-min: 1.5;
  --text-line-height-max: 1.8;
}
@font-face {
  font-family: "VinilaVariable";
  src: url("../fonts/Vinila Variable.ttf") format("truetype-variations");
}
body {
  font-family: "VinilaVariable", "Helvetica", sans-serif;
  font-size: 16px;
  font-variation-settings: "wght" 50, "wdth" 50;
}
.nav-items {
  color: #000;
  text-decoration: none;
}
.nav-items:hover {
  border-bottom: 1px solid tomato;
}
.active-nav {
  color: tomato;
}
.text-link {
  text-decoration: underline;
}
.text-link:hover {
  text-decoration: line-through;
  cursor: pointer;
}
.flex {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.name-title {
  text-align: left;
  font-variation-settings: "wght" 600, "wdth" 1000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.main-nav {
  width: 100%;
  height: 80px;
  display: grid;
  grid-gap: 0.5em;
  padding: 0.7em;
  padding-top: 0.8em;
  background-color: #fff;
  border-bottom: 1px solid black;
  position: fixed;
}
.text-wrapper {
  max-width: 75em;
  margin: 0 auto;
  margin-bottom: 2em;
  display: grid;
}
.text-wrapper::before {
  content: "";
  display: block;
  min-height: 80px;
  height: 10vh;
}
.img-container::before,
.projects-wrapper::before,
.specimen-wrapper::before {
  content: "";
  display: block;
  min-height: 80px;
}
.text-title {
  font-variation-settings: "wght" 500, "wdth" 1000;
  font-size: calc(var(--h1-font-size-min) * 1em);
  padding: 0 13px;
  padding-top: 0.5em;
}
.text {
  font-variation-settings: "wght" 150, "wdth" 500;
  text-indent: -13px;
  padding: 5px 13px;
  font-size: calc(var(--text-font-size-min) * 1em);
  line-height: calc(var(--text-line-height-min) * 1em);
}
.text:first-of-type {
  padding-top: 1em;
}
.pilcrow {
  color: white;
}
.projects-wrapper {
  background-color: black;
}
.fonts-list {
  background-color: white;
  margin: 0;
  border-bottom: 1px solid black;
}
.project {
  width: 100%;
}
.specimen-image {
  width: 100%;
}
.specimen-text {
  padding: 0 0.7em;
}
.footer-wrapper {
  border-top: 1px solid black;
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  margin-top: auto;
}
.footer-text {
  text-align: center;
}
.sketch {
  width: 100%;
}
/* header grid system */
.nav-grid {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.header-c1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.header-c2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.nav-c1 {
  grid-column: 1/2;
}
.nav-c2 {
  grid-column: 2/3;
}
.nav-c3 {
  grid-column: 3/4;
}
.nav-c4 {
  grid-column: 4/5;
}
.section-c1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.section-c2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.specimen-c1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.specimen-c2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
@media screen and (min-width: 24.15em) {
  .main-nav {
    font-variation-settings: "wght" 100, "wdth" 400;
  }
  .text-title {
    font-size: calc(
      (var(--h1-font-size-min) * 1em) +
        (var(--h1-font-size-max) - var(--h1-font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1em)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
  }
  .text-title {
    padding: 0 15px;
    padding-top: 0.5em;
  }
  .text {
    font-variation-settings: "wght" 150, "wdth" 600;
    text-indent: -15px;
    padding: 5px 15px;
    font-size: calc(
      (var(--text-font-size-min) * 1em) +
        (var(--text-font-size-max) - var(--text-font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1em)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
    line-height: calc(
      (var(--text-line-height-min) * 1em) +
        (var(--text-line-height-max) - var(--text-line-height-min)) *
        ((100vw - (var(--bp-small))) / (var(--bp-xlarge) - var(--bp-small)))
    );
  }
  .header-c1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .header-c2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 43.75em) {
  .main-nav {
    font-variation-settings: "wght" 200, "wdth" 500;
  }
  .main-nav {
    padding: 1.5em;
    padding-top: 1.9em;
  }
  .nav-grid {
    text-align: right;
  }
  .text-wrapper::before {
    content: "";
    display: block;
    min-height: 7em;
    height: 15vh;
  }
  .img-container::before,
  .projects-wrapper::before,
  .specimen-wrapper::before {
    content: "";
    display: block;
    min-height: 80px;
  }
  .text-wrapper {
    padding: 0 0.7em;
  }
  .text-title {
    padding-top: 0;
  }
  .text {
    font-variation-settings: "wght" 150, "wdth" 600;
    text-indent: -17px;
    padding: 5px 17px;
    font-size: calc(
      (var(--text-font-size-min) * 1em) +
        (var(--text-font-size-max) - var(--text-font-size-min)) *
        (
          (100vw - (var(--bp-small) * 1em)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
    line-height: calc(
      (var(--text-line-height-min) * 1em) +
        (var(--text-line-height-max) - var(--text-line-height-min)) *
        (
          (100vw - (var(--bp-small) * 1em)) /
            (var(--bp-xlarge) - var(--bp-small))
        )
    );
  }
  .pilcrow {
    color: white;
  }
  .text:first-of-type {
    padding-top: 0.45em;
  }
  .text:hover .pilcrow {
    color: tomato;
  }
  .specimen-text {
    display: grid;
  }
  .header-c1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .header-c2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .section-c1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .section-c2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .specimen-c1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .specimen-c2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
@media screen and (min-width: 75em) {
  .main-nav {
    font-variation-settings: "wght" 200, "wdth" 1000;
  }
  .text-title {
    font-size: calc(var(--h1-font-size-max) * 1em);
  }
  .text {
    font-size: calc(var(--text-font-size-max) * 1em);
    line-height: calc(var(--text-line-height-max) * 1em);
  }
  .project {
    width: 75%;
    margin: 0 auto;
  }
  .specimen-image {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .specimen-text {
    width: 75em;
    margin: 0 auto;
  }
  .header-c1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .header-c2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
